.container {
  display: flex;
  flex-wrap: nowrap;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.content:first-child {
  width: 332px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: rgb(249, 251, 254);
  border-right: 1px solid #d6d6e3;
  color: #13132e;
  box-shadow: 0 8px 16px rgb(17 17 17 / 4%);
}

.content:nth-child(2) {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.content ul {
  padding-inline-start: 8px;
}

.listItem {
  display: flex;
}

.listItem input {
  margin-right: 8px;
}

.listItem p {
  margin: 0 0 4px 0;
}
